<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <a class="logo" href="/"><img src="images/logo.png" alt=""></a>
        <ul>
            <li><a href="/">ALL</a></li>
            <li><a href="/newArticle">NEW ARTICLE</a></li>
        </ul>
    </nav>